.forget-password {
    background-color: rgba(0, 0, 0, 0.85) !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    height: 100vh;
  }
  .forget-password h2{
    text-transform: capitalize;
  }
  .forget-password  .forget-password-logo {
    height: 31px;
    width: 103px;
    cursor: pointer;
    margin-top: -111px;
  }
  .forget-password-form {
    color: white;
    padding: 20px;
    border: 1px solid white;
    border-radius: 8px;
    width: 70vw;
  }
  .forget-password-form h2 {
    text-align: center;
  }
  .forget-password label,
  .forget-password input::placeholder {
    text-transform: capitalize;
  }
  .forget-password input {
    border: none !important;
  }
  /* .forget-password .forget-password{
    text-align: right;
  }
  .forget-password .forget-password p{
    padding: 3px 0;
    text-transform: capitalize;
  } */
  .forget-password button {
    width: 100%;
    color: rgba(0, 0, 0, 0.85) !important;
  }
  .forget-password .form-check-input:checked {
    background-color: #ffca2c;
  }
  