.update-categories h2 {
  text-align: center;
  margin: 10px auto;
  text-transform: capitalize;
}
.update-categories form {
  background: #443c68;
  color: white;
  width: 100%;
  margin: 20px auto;
  padding: 20px;
  border-radius: 1rem;
  box-shadow: 0 0 0 1px black;
}
.update-categories form .column {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.update-categories form label {
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 5px;
}
.update-categories form input {
  border: none;
  outline: none;
  padding: 7px;
  border-radius: 10px;
}
.update-categories form .buttons {
  display: flex;
  justify-content: space-around;
}
.update-categories form button {
  width: 120px;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 1px;
}
