.view-order .details {
  margin-top: 30px;
}
.view_text {
  display: flex;
  justify-content: space-around;
}
.view-order .photos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.view-order .photos .card {
  width: 18rem;
  height: 190px;
  margin: 20px;
  box-shadow: 10px 14px 16px rgba(0, 0, 0, 0.2);
}
.view-order.photos.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.view-order .view-order-code,
.view-order .view-order-total {
  background: #443c68;
  color: #fff;
  width: 50%;
  padding: 2px;
  margin: 10px auto;
  text-align: center;
  border-radius: 10px;
}
.view-order .view-order-code span:last-child,
.view-order .view-order-total span {
  color: red;
}
.view-order .view-order-total,
.view-order .view-order-code .order-code {
  text-transform: capitalize;
}
